---
layout: default

title: "Play"
subtitle: "game on"
lead:
---
<div class="container">
  <div class="row featurette">
    <div class="col-lg-7 col-md-5">
      <div class="row">
        <div id="stay" class="col-lg-6 text-center">
          <h2>Live Music.</h2>
          <p>Live music performs every Saturday night.<br>Check <a href="https://www.facebook.com/GoonellabahTavern/">Facebook</a> for details.</p>
        </div>
        <div id="raffles" class="col-lg-6 text-center">
          <h2>Raffles.</h2>
          <p>Sports Club Raffles are held every Thursday and Friday evening with the best meat and veg trays available to win.</p>
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div id="pool" class="col-lg-6 text-center">
          <h2>Pool Comp.</h2>
          <p>Our friendly Pool Comp is held every Thursday.<br>You can't lose.</p>
        </div>
        <div id="Trivia" class="col-lg-6 text-center">
          <h2>Trivia.</h2>
          <p>We love trivia! Our trivia challenge is held every Wednesday evenings from 7pm.</p>
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div id="members" class="text-center">
          <h2>Members.</h2>
          <p>Become a <a href="./rewards/">Tav Rewards Member</a> to receive the many exclusive benefits.<br>Cash prizes in the Members Draw called every Thursday evening.</p>
        </div>
      </div>
    </div>
    <div id="fcbk_events" class="col-lg-5 col-md-7 text-center">
      {% include fcbk_scrpt.html %}
      {% include fcbk_events.html %}
      <div class="fb-page" data-href="https://www.facebook.com/GoonellabahTavern/" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
  </div>
</div> <!-- End of content -->
