---
layout: basic

title: "Play"
subtitle: "game on"
lead:
---
<div class="container my-5 py-5">
  <div class="row">
    <div class="col-lg-7 col-md-5 text-center">
        <div>
          <h2 class="text-brand-base">Live Music.</h2>
          <p>Live music performs every Saturday night.<br>Check <a href="https://www.facebook.com/GoonellabahTavern/">Facebook</a> for details.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Raffles.</h2>
          <p>Sports Club Raffles are held every Thursday and Friday evening with the best meat and veg trays available to win.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Pool Comp.</h2>
          <p>Our friendly Pool Comp is held every Thursday.<br>You can't lose.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Trivia.</h2>
          <p>We love trivia! Our trivia challenge is held every Wednesday evenings from 7pm.</p>
        </div>
        <div>
          <h2 class="text-brand-base">Members.</h2>
          <p>Become a <a href="/rewards/">Tav Rewards Member</a> to receive the many exclusive benefits.<br>Cash prizes in the Members Draw called every Thursday evening.</p>
        </div>
    </div>
    <div id="fcbk_events" class="col-lg-5 col-md-7 text-center">
      {% include fcbk_scrpt.html %}
      {% include fcbk_events.html %}
    </div>
  </div>
</div>